{{!< default}}

<section class='welcome'>
  <p>
    <b>Hello! My name is Nick. I'm a student at Purdue University studying Computer Engineering. Currently Interning at Intel in Folsom, CA as a Hardware Engineer!
  </p>
</section>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="home {{post_class}}">
        <p class="meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd Do MMMM YYYY"}}</time></p>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
		{{#if @first}}
			<section class="post-content">
				<p>{{content}}&hellip;</p>
			</section>
		{{else}}
			<section class="post-excerpt">
				<p>{{excerpt characters="300"}}&hellip;</p>
			</section>
		{{/if}}
		
    </article>

    {{/foreach}}

    {{pagination}}

</main>
