{{!< default}}

<section class='welcome'>
  <p>
    <b>Hi there!</b> <a href='/will-froese/'>I'm Will</a> and I love designing and building great software.
  </p>
</section>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="home {{post_class}}">
        <p class="meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd Do MMMM YYYY"}}</time></p>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>
